# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
*.log

# Ignore OSX files
.DS_Store

# Ignore https://github.com/bkeepers/dotenv files
.env.development
.env.test
.env.production
.env

# Ignore debug files
.jshintrc

# Ignore node_modules
# Update from package.json, run: npm install 
/node_modules
