<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HL7 Message Search</title>
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="javascripts/autocomplete.js"></script>
  <script type="text/javascript" src="javascripts/content.js"></script>
	<script type="text/javascript" src="javascripts/utils.js"></script>
  <script type="text/javascript" src="javascripts/searchValidation.js"></script>
</head>

<body>
  <h2>CXN Log Search</h2>
  
  <div style='display: inline-block' id='searchCriteria'>
    <select id="server_select" class="search-form" name="serverIP">
      <option value="10.248.202.25">UAT Server</option>
      <option value="10.248.202.24">Dev Server</option>      
      <option value="10.248.205.20">Stage 1 (AZNEV-B)</option>
      <option value="10.248.204.20">Stage 2 (SACTO-D)</option>
      <option value="10.248.203.20">Stage 3 (BAY-A)</option>
      <option value="10.248.206.20">Stage 4 (LAWMIX-C)</option>
      <option value="10.248.207.20">Stage 5 (SOCAL-E)</option>
      <option value="10.248.208.20">Stage 6 (EHR-F)</option>
      <option value="10.248.209.140">Stage 7 (CXNG)</option>
      <option value="10.248.209.142">Stage 8 (CXNH)</option>
      <option value="10.248.205.16">Prod (AZNEV)</option>
      <option value="10.248.203.16">Prod (PBAY)</option>
      <option value="10.248.206.16">Prod (LAWMIX)</option>
			<option value="10.248.204.16">Prod (SACTO)</option>
      <option value="10.248.207.16">Prod (SOCAL)</option>
      <option value="10.248.208.16">Prod (EHR)</option>
      <option value="10.248.209.12">Prod (CXNG)</option>
      <option value="10.248.209.78">Prod (CXNH)</option>
    </select>

    <div id="credentials">
      <span class="cred_label">User ID</span>
      <input class="cred_input search-form" id="userID" type="text" name="userID" maxLength="30" required />
      <span class="cred_label">Password</span>
      <input class="cred_input search-form" id="userPass" type="password" name="userPass" maxLength="40" required />
    </div>
    <br/>
    
    <span class="labels">Source Adapter</span>
    <span class="labels">Destination Adapter</span>
    <span class="labels">Search For</span>
    <br/>
    
    <div class="autocomplete">
      <input id="source" class="search-form" name="source" maxLength="25" autocomplete="off" required />
    </div>
    <div class="autocomplete">
      <input id="dest" class="search-form" name="dest" maxLength="20" autocomplete="off" />
    </div>
    <input id="pattern" class="search-form catch-enter" name="pattern" maxLength="30" required />    
    <br/>
    
    <span class="dateLabel">Start Date</span>
    <input class="dates search-form catch-enter" type="date" id="startDate" name="start" />
    <span class="dateLabel">End Date</span>
    <input class="dates search-form catch-enter" type="date" id="endDate" name="end" />
    <input name="destAdapterLocation" type="hidden" id="destAdapterLocation" class="search-form" />
    <input name="role" type="hidden" id="serverRole" class="search-form" />
    <span id='compError' class='hide error-text'>Start Date cannot be greater than End Date</span>      
    <br/>
    
    <button id="submit">Search</button>
  </div>

  <div id='reference-block'>
    <h4 id='reference-title'>Adapter Naming References</h4>
    <a href='https://apps.dignityhealth.org/connexionsupporttool/#!/reference/applications' target='_blank'>Apps</a><br/>
    <a href='https://apps.dignityhealth.org/connexionsupporttool/#!/reference/regionList' target='_blank'>Regions</a><br/>
    <label>Syntax: Application Name + Region Number + Message Type</label><br/>
    <label>Example: Initiate + Sacramento + ADT and Scheduling = INI30MIX</label>
  </div>

  <div id='loader' style='visibility:hidden'>
    <button id="cancel">Cancel</button> 
    <div class='loader'></div>
  </div>
  
  <div id="counter" style='visibility:hidden'>
    <span>Total Source Matches: </span><span id="srcCount" class="totals"></span><br/>
    <span>Total Destination Correlations: </span><span id="dstCount" class="totals"></span>
  </div>
  
  <pre id="msgDisplay"></pre>
</body>

<script>
  document.getElementById('startDate').value = today();
  document.getElementById('endDate').value = today();  
  document.getElementById('server_select').addEventListener('change', function() { document.getElementById('userID').focus() });
	 
  let srcArr = [];
  let dstArr = [];
	let srcObj = {};
	let dstObj = {};

  let xhrSrc = new XMLHttpRequest();
  let xhrDst = new XMLHttpRequest();

  xhrSrc.onreadystatechange = function(){
    if (xhrSrc.readyState == 4 && xhrSrc.status == 200){
      let lines = xhrSrc.responseText.split('\r\n');
			lines.forEach((line) => {
				let item = line.split(' ');
				srcArr.push(item[0]);
				srcObj[item[0] +'_'+ item[1]] = item[2];
			});
      autocomplete(document.getElementById('source'), uniqueArray(srcArr));
    }
  };
  xhrDst.onreadystatechange = function(){
    if (xhrDst.readyState == 4 && xhrDst.status == 200){
			let lines = xhrDst.responseText.split('\r\n');
			lines.forEach((line) => {
				let item = line.split(' ');
				dstArr.push(item[0]);
				dstObj[item[0] +'_'+ item[1]] = item[2];
			});
			autocomplete(document.getElementById('dest'), uniqueArray(dstArr));
    }
  };
  
  xhrSrc.open("GET", "/srclist");
  xhrSrc.send();
  
  xhrDst.open("GET", "/dstlist");
  xhrDst.send();
  
  let server = <%- JSON.stringify(comm) %>
  validateSearch(server.address, server.port)
  
  let catchEnterList = document.getElementsByClassName('catch-enter');
  let submitButton = document.getElementById('submit');
  for (let i = 0; i < catchEnterList.length; i++) {
    catchEnterList.item(i).addEventListener('keyup', function(event){
      if (event.key === 'Enter') {
        submitButton.click();
      }
    });
  }
</script>
</html>
