.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  border: 1px solid transparent;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  font-size: 14px;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 5px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
b {
   font-weight: normal;
}
body {
   font-family: Arial, Helvetica, sans-serif;
}
#cancel {
  vertical-align: super;
  font-size: 10px;
}
#counter {
   width: 255px;
   color: #3d5c8b;
   margin-top: 25px;
   text-align: right;
}
#credentials {
   display: inline-block;
   margin-left: -20px;
}
.cred_label {
  text-align: right;
  width: 70px;
	color: #3d5c8b;
  display: inline-block;
}
.cred_input {
   width: 140px;
   font-size: medium;
   text-align: center;
   margin-right: 12px;
}
.dates {
   width: 145px;
   height: 20px;
}
.dateLabel {
   display: inline-block;
   font-size: small;
   vertical-align: middle;
   width: 60px;
   margin-left: 12px;
   text-align: right;
}
.destMatch {
  color: #770177;
}
.error-box {
   border: 2px solid red;
}
.error-text {
   color: red;
   font-size: 14px;
}
h2 {
   color: #0e5b96;
}
.hide {
  visibility: hidden;
}
input {
   border-radius: 3px;
   height: 20px;
}
input[value="Submit"] {
   width: 80px;
   margin-top: 7px;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.labels {
   color: #3d5c8b;
   width: 177px;
   text-align: center;
   display: inline-block;
}
li {
	list-style: none;
}
.loader {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 17px;
    height: 17px;
    animation: spin 2s linear infinite;
    margin-left: 20px;
    margin-top: 35px;
    display: inline-block;
}
#msgDisplay {
  color: darkgreen;
}
#reference-block {
	display: inline-block;
	position: absolute;
  margin-left: 10px;
}
#reference-title {
	color: #6683af;
}
.search-form {
   margin-bottom: 7px;
   text-align: center;
   width: 175px;
   margin-right: 5px;
}
#server_select {
   border-radius: 3px;
   display: inline-block;
   margin-right: 15px;
   overflow: hidden;
   text-overflow: ellipsis;
   text-align: center;
   height: 25px;
   width: 150px;
   font-size: medium;
   margin-bottom: 20px;
}
#submit {
   width: 80px;
   margin-top: 20px;
   border-radius: 3px;
   height: 20px;
}
.ui-autocomplete-category {
   font-weight: bold;
   padding: .2em .4em;
   margin: .8em 0 .2em;
   line-height: 1.5;
}
