b {
   font-weight: normal;
}
body {
   font-family: Arial, Helvetica, sans-serif;
}
#credentials {
   display: inline-block;
   margin-left: -20px;
}
.cred_label {
  text-align: right;
  width: 70px;
	color: #3d5c8b;
  display: inline-block;
}
.cred_input {
   width: 140px;
   font-size: medium;
   text-align: center;
   margin-right: 12px;
}
.dates {
   width: 145px;
   height: 20px;
}
.dateLabel {
   display: inline-block;
   font-size: small;
   vertical-align: middle;
   width: 60px;
   margin-left: 12px;
   text-align: right;
}
h2 {
   color: #0e5b96;
}
input {
   border-radius: 3px;
   height: 20px;
}
input[value="Submit"] {
   width: 80px;
   margin-top: 7px;
}
.labels {
   color: #3d5c8b;
   width: 156px;
   text-align: center;
   display: inline-block;
}
li {
   list-style: none;
}
#reference-block {
	display: inline-block;
	position: absolute;
}
#reference-title {
	color: #6683af;
}
.search-form {
   margin-bottom: 7px;
   text-align: center;
   width: 150px;
   margin-right: 1px;
}
#server_select {
   border-radius: 3px;
   display: inline-block;
   margin-right: 17px;
   overflow: hidden;
   text-overflow: ellipsis;
   text-align: center;
   height: 25px;
   width: 150px;
   font-size: medium;
   margin-bottom: 20px;
}
.totals {
   width: 250px;
   color: #3d5c8b;
   text-align: right;
   margin-bottom: -35px;
}
.ui-autocomplete-category {
   font-weight: bold;
   padding: .2em .4em;
   margin: .8em 0 .2em;
   line-height: 1.5;
}